@use '@angular/material' as mat;

html {
  color-scheme: light;
  @include mat.theme((color: mat.$orange-palette,
      typography: Roboto,
      density: 0));
}

* {
  box-sizing: border-box;
}

html,
body {
  height: 100%;
}

body {
  margin: 0;
  font-family: Roboto, "Helvetica Neue", sans-serif;
}