<form [formGroup]="form" (ngSubmit)="onFormSubmit()" class="form-container" enctype="multipart/form-data">
  <mat-form-field appearance="fill">
    <mat-label>Name</mat-label>
    <input matInput formControlName="name" required />
    @if (form.get('name')?.hasError('required')) {
    <mat-error>Name is required</mat-error>
    }
  </mat-form-field>

  <mat-form-field appearance="fill">
    <mat-label>Surname</mat-label>
    <input matInput formControlName="surname" required />
    @if (form.get('surname')?.hasError('required')) {
    <mat-error>Surname is required</mat-error>
    }
  </mat-form-field>

  <input type="file" formControlName="file" accept=".xlsx,.xls" required (change)="onFileChange($event)" />
  @if (!file && fileTouched) {
  <mat-error>Excel file is required</mat-error>
  }

  <button mat-raised-button color="primary" type="submit" [disabled]="form.invalid || !file">
    @if (sendingData) {
    <mat-spinner diameter="20"></mat-spinner>
    } @else {
    <ng-container>
      <mat-icon>upload</mat-icon>Save
    </ng-container>
    }
  </button>
</form>